
.vc-parameters-configurator-modal-header {
    place-content: center space-between;
}

.vc-parameters-configurator-modal-title {
    margin: 0;
    margin-top: 5px;
}

.vc-parameters-configurator-modal-error {
    color: var(--text-feedback-critical);
}

.vc-parameters-configurator-modal-param-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 25vw;
    padding-bottom: 5px;
}

.vc-parameters-configurator-modal-text-input {
    width: 100%;
}

.vc-parameters-configurator-modal-close-button {
    padding: 0;
}
